body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 20px 0;
}

.postImg {
  margin-top : 50px;
}

.MuiButton-containedPrimary svg {
  padding-right: 10px;
}

a {
  text-decoration: none;
}

.titre-photo {
  margin-bottom: 2rem;
}

form div {
  margin-top: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  padding: 1.5rem;
  background-color: rgb(238,238,238);
  color: #000;
}
nav a:hover {
  background-color: rgb(243,243,243);
}